<!doctype HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Bib Bypass</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="fonts/stylesheet.css">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Muli%7CRoboto:400,300,500,700,900" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>

    <div class="main-nav">
        <ul class="nav">
            <li class="name">
                <a href="#">
                    <img id="small-logo" src="static/images/small-logo.png" alt="logo">
                </a>
            </li>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="about.html" target="_blank">About</a>
            </li>
            <li>
                <a href="contact.html">Contact</a>
            </li>
        </ul>
    </div>

    <header>
        <h1 align="center">BIB BYPASS
            <h1>
    </header>
    <main>
        <div id="citation">
            <p> {{ citations[0] }} </p>
            </br>
            <p> {{ citations[1] }} </p>
            </br>
            <p> {{ citations[2] }} </p>
            </br>
            <p> {{ citations[3] }} </p>
            </br>
            <p> {{ citations[4] }} </p>
            </br>
            <p> {{ citations[5] }} </p>
            </br>
            <p> {{ citations[6] }} </p>
            </br>
            <p> {{ citations[7] }} </p>
            </br>
            <p> {{ citations[8] }} </p>
            </br>
            <p> {{ citations[9] }} </p>
            </br>
            <p> {{ cite11 }} </p>
            </br>
            <p> {{ cite12 }} </p>
            </br>
            <p> {{ cite13 }} </p>
            </br>
            <p> {{ cite14 }} </p>
            </br>
            <p> {{ cite15 }} </p>
            </br>
            <p> {{ cite16 }} </p>
            </br>
            <p> {{ cite17 }} </p>
            </br>
            <p> {{ cite18 }} </p>
            </br>
        </div>
    </main>
    <script src="static/correct.js"></script>
</body>

</html>
