<!doctype HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <script src="https://use.fontawesome.com/e63904aba2.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <title>Bib Bypass</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/title.css">
    <link rel="stylesheet" href="static/bbulma-0.6.1/css/bulma.css">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Muli%7CRoboto:400,300,500,700,900" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>

    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    <h1>Bib Bypass</h1>
    <main>
        <div id="citation">
            <p> {{ citations[0] }} </p>

            <p> {{ citations[1] }} </p>

            <p> {{ citations[2] }} </p>

            <p> {{ citations[3] }} </p>

            <p> {{ citations[4] }} </p>

            <p> {{ citations[5] }} </p>

            <p> {{ citations[6] }} </p>

            <p> {{ citations[7] }} </p>

            <p> {{ citations[8] }} </p>

            <p> {{ citations[9] }} </p>
            </br>
            </br>
            </br>
        </div>
    </main>
    <script src="static/correct.js"></script>
</body>

</html>
