<!doctype HTML>
<html lang="en">

<head>
  <link rel="stylesheet" href="static/title.css">
  <link href='https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bib Bypass</title>
  <link rel="shortcut icon" type="image/png" href="/static/logo2.png" />
</head>

<body>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  <h1>Bib Bypass</h1>
  <div id="firstPage">
    <h2>Sick of wasting time making a bibliography you know your teacher won't read? Make a fake one in seconds with Bib Bypass!
    </h2>

    <p>
      <a id="title_button" onclick="change()">Create your fake bibliography</a>
    </p>
  </div>
  <section id="form_div">
    <form type="submit" action="/" method="POST" id="form1">
      <section id="top">
        <p align="left">Enter keywords related to the work you are citing: </p>
        </br>
        <input class="keywords" id="keyword_1" name="keyword_1">
        <!-- </br> -->
        <div id="input2">
          <input class="keywords" id="keyword_2" name="keyword_2">
          <!-- </br> -->
        </div>
        <div id="input3">
          <input class="keywords" id="keyword_3" name="keyword_3">
          <!-- </br> -->
        </div>
        <div id="input4">
          <input class="keywords" id="keyword_4" name="keyword_4">
          <!-- </br> -->
        </div>
        </br>
        <img id="addBtn" src="static/images/add.png" alt="Add keyword">
        </br>
      </section>
      </br>
      </br>
      </br>
      <section id="bottom">
        <div class="field">
          <select class="select" name="citationCount">
            <option>- Number of citations -</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>
        <!-- <p>Number of citations:</p>
              <select id="citationCount" name="citationCount">
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
              </select>
              </br> -->
        </br>
        </br>
        </br>
        <a id="index_button" href="javascript:{}" onclick="document.getElementById('circularG').style.display = 'block';
        document.getElementById('form_div').style.display = 'none'; document.getElementById('form1').submit();">Submit</a>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        <!-- <div class="type-1">
                  <a onclick="document.getElementById('form1').submit();" id="citeBtn" href="" class="btn btn-1">
                      <span class="txt">CITE</span>
                      <span class="round">
                          <i class="fa fa-chevron-right" aria-hidden="true"></i>
                      </span>
                  </a>
              </div> -->
      </section>
    </form>
  </section>

  </br>
  <div id="circularG">
    <div id="circularG_1" class="circularG"></div>
    <div id="circularG_2" class="circularG"></div>
    <div id="circularG_3" class="circularG"></div>
    <div id="circularG_4" class="circularG"></div>
    <div id="circularG_5" class="circularG"></div>
    <div id="circularG_6" class="circularG"></div>
    <div id="circularG_7" class="circularG"></div>
    <div id="circularG_8" class="circularG"></div>
  </div>

</body>
<script src="static/correct.js"></script>

</html>
